body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin: 0;
  overflow-x: hidden;
  
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.header:hover
{
  transform: scale(1.05);
}

.sec-2 {
  padding-top: 30px;
  padding-right: 150px;
}

.Sign-in-sec {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.Sign-in-sec-btn {
  width: 120px;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.sing-in {
  background-color: #ffff;
  border: 2px solid #46176f;
  color: #46176f;
}

.sing-in:hover {
  box-shadow: 0.5px 0.5px 5px;
  transform: scale(1.05);
}

.join {
  border: 2px solid #46176f;
  background-color: #46176f;
  color: #ffff;
}

.join:hover {
  box-shadow: 0.5px 0.5px 5px #4a4848;
  transform: scale(1.05);
}

h2,
h1 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 50px;
}

span {
  font-size: 70px;
  color: #482063;
}

.sp2 {
  color: #0bc584;
}

.box {
  width: 240px;
  height: auto;
}

.text-sec {
  padding-top: 50px;
  display: flex;
}

p {
  color: #b9b9bb;
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  padding: 0;
  margin: 0;
}

h3 {
  color: black;
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: italic;
  padding: 0;
  margin: 0;
}

form {
  margin-top: 10px;
  display: flex;
}

input {
  width: 100%;
  padding: 15px;
  border-radius: 5px 0px 0px 5px;
  border: none;
  box-shadow: 0px 1.5px 5px #6f6f6f;
  font-size: 15px;
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: italic;
  color: #b9b9bb;
}

.submit-btn {
  width: 150px;
  padding: 20px;
  border-radius: 0px 5px 5px 0px;
  border: none;
  font-weight: bolder;
  color: #ffff;
  background-color: #0bc584;
  box-shadow: 0px 1.5px 5px #6f6f6f;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0cab74;
}

.body {
  padding: 150px 150px 0 150px;
  gap: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.body:hover
{
  transform: scale(1.05);
}

.work-bag {
  display: block;
}

.first-block {
  display: flex;
  justify-content: space-between;
  gap: 200px;
}

.first-block img {
  width: 10%;
}

strong {
  font-size: 28px;
}

.row {
  padding: 50px 0px;
}

.sub-body-section
{
  padding: 150px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.sub-body-section:hover
{
  transform: scale(1.05);
}

.sub-body
{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.footer
{
  background-color: #f2f4ff;
}

.footer-body
{
    padding-top: 20px;
    text-align: center;
    max-width: 600px;   
    margin: 0 auto;   
}
.footer-body h1
{
    font-size: 2.5rem; 
    color: #333;   
    margin-bottom: 10px; 
}

.footer-body p
{
    font-size: 1rem;    
    line-height: 1.6;   
    color: #666;         
}

.footer-body h4
{
    font-weight: bolder;
    margin: 0;
}

.svg-footer
{
    display: flex; /* Prevents SVGs from overflowing the main div */
    justify-content: space-around; /* Align SVGs horizontally with space between */
}

.sub-footer
{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #491a73;
    align-items: center;
}

.sub-footer-p
{
    display: flex;
    gap: 30px;
}

h2
{
    margin: 0;
}

a
{
  text-decoration: none;
}