body
{
    background-color: #ffff;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.header
{
    padding: 20px 150px 0px 150px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button
{
    border-radius: 10px;
    cursor: pointer;
}
.drop-down
{
    width: 10px;
}

.icons
{
    width: 22px;
}


.button-header-1
{
    width: 150px;
    height: 40px;
    border: 1px solid #e5e5e5;
    background-color: #ffff;
    font-size: 17px;
    font-weight: 200;
    color: #404040;
}

.button-header-1:hover
{
    background-color: #f6f6f6;
}

.section-1
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.section-2
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 19px;
}

.add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #fff2c3; /* Adjust the background color */
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

.add-button:hover
{
    background-color: #ffefb2;
}

.add-button img {
    margin-right: 8px; 
}

.add-button span {
    vertical-align: middle;
}

.Sign-In
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: 1px solid #e5e5e5;
    background-color: #ffff;
    border-radius: 10px;
    font-size: 16px;
}

.Sign-In img {
    margin-right: 8px; 
}

.Sign-In span {
    vertical-align: middle;
}

a
{
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    padding: 3px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
