body
{
  overflow: hidden;
}

.main
{
  display: flex;
  justify-content: center;
  gap: 20px ;

}

.div1,.div2,.div3,.div4
{
  width: 300px;
  height: 300px;
  border-radius: 8px;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img
{
  overflow: hidden;
  width: 100%;
}