.dialog-box 
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%; 
    background-color: #f1f1f1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    z-index: 1000; 
    display: none; 
    border: 3px solid #fff;
    font-family: "Quicksand", sans-serif;
    overflow: scroll;
}

.dialog-box-inner-c
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dialog-box-inner-sec
{
    padding: 10px 0px;
    width: 80%;
    height: 50%;
    gap: 3rem;  
    display: flex;
}

.dialog-box-inner-sec-t
{
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.dialog-box-inner-sec-img
{
    width: 50%;
    height: 100%;
    border-radius: 20px; 
    background: url("./dialog/Collab-cuate.svg")
    no-repeat center;
    border: 1px solid #1b47f8;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.dialog-box-inner-sec-img2
{
    background: url("./dialog/Collab-pana.svg")
    no-repeat center;
}

.dialog-box-inner-sec2
{
    display: flex;
    flex-direction: row-reverse;
}

.bold-txt
{
    font-weight: 900;
}

.dialog-box-inner-sec-t2
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dialog-box-inner-sec-t2 button
{
    width: 40%;
    padding: 10px 0px;
    border-radius: 8px;
    border: none;
    background-color: #7731d8;
    color: #fff;
    font-weight: 600;
    font-size: medium;
    cursor: pointer;
    transition: all 0.3s;
}

.dialog-box-inner-sec-t2 button:hover
{
    background-color: #6f21dd;
    scale: 1.01;
    padding: 13px 0px;
}

