body
{
    margin: 0;
    padding: 0;
    background-color: #f5f3f4;
    font-family: "Parkinsans", sans-serif;
    transition: all 0.3s;
}

.main
{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    height: 100vh;
}

.home
{
    width: 90%;
    background-color: #ffff;
    height: 97vh;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    background: url('./background.svg') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    position: relative;
    transition: all 0.3s;
}

h3
{
    margin: 0;
    padding: 0;
}

p
{
    margin: 0;
    padding: 0;
}

.nav-bar
{
    background:linear-gradient(45deg,#6D1EB7, #17BEE3);
    min-width: 5rem;
    height: 97vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.nav-bar p
{
    padding: 0;
    margin: 0;
    color: #f5f3f4;
    font-size: small;
}

.nav-bar img
{
    width: 5vh;
    border-radius: 10px;
    padding: 1vh;
    transition: all 0.2s;
    padding: 0px;
}

.nav-bar img:hover
{
    background-color: #18d8ff;
    cursor: pointer;
    scale: 1.1;
    padding: 3px;
}

#settingIcon:hover
{
    animation: spin 3s linear infinite;
    background-color: #6f1ee1;
    border-radius: 50%;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.nav-barSec1
{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding: 10px;
}

.nav-barSec2
{
    padding: 10px;
}

/* main section */

.welcomePage
{
    font-size: larger;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.welcomePage h1
{
    font-size: 4rem;
    transition: all 0.3s;
}

.welcomePage p
{
    color: #a5a2a4;
    margin: 0;
}

.welcomePage img
{
    width: 40%;
    transition: all 0.3s;
}


.colorful-text
{
    background-image: linear-gradient(45deg, #ff7a18, #af2dff, #18d8ff);
    -webkit-background-clip: text;
    color: transparent;
}

.giorgi
{
    position: absolute;
    width: 100%;
    top: 0px;
}


.header
{
    width: 100%;
    display: none;
}

.headerInnerSection
{
    padding: 0.5rem;
}

.headerInnerSection img
{
    background-color: #6f1ee1;
    padding: 0.5rem;
    width: 1.5rem;
    border-radius: 8px;
}

.profilePage
{
    display: none;
}

.navbarMobile
{
    position: absolute;
    background-color: #af2dff;
    border-radius: 8px;
    display: none;
    transition: all 0.3s;
    left: 5px;
}


#closeBtn
{
    display: none;
}

.navbarMobile-InnerSection
{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.navbarMobile p
{
    margin: 0;
    padding: 0;
    color: #ffff;
    font-size: small;
}

.navbarMobile img
{
    margin: 0;
    padding: 0;
    width: 2rem;
}

.navbarMobile ul
{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    background-color: #6f1ee1;
    width: 4rem;
    gap: 1.5rem;
}

.profilePageInner
{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DDFcontinaer
{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 20px;
}

.overReviewContainer
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.PublicReviesBtn
{
    padding: 11px;
    border-radius: 8px;
    border: 2px solid #edeeef;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.PublicReviesBtn:hover
{
    background-color: #d9d9d9;
}

.RevivesBox
{
    border: 2px solid #edeeef;
}

.overReview
{
    border: 2px solid #edeeef;
    height: auto;
    border-radius: 8px;
    padding: 20px 0px 10px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.overReviewPicture
{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0px 0px 10px 0px;
    gap: 10px;
    margin: 13px;
    border-bottom: 2px solid #edeeef;
}

.overReviewPicture img
{
    width: 100px;
    border-radius: 50%;
}

.info
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 13px;
    border-bottom: 2px solid #edeeef;
}

.DF1
{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 0px 0px 10px 0px;
}

.DF2
{
    margin-left: 13px;
    color: #a5a2a4;
}


.info img
{
    width: 23px;
}

.RevivesBox
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 20px 0px 20px 0px;
    color: #a5a2a4;
    border-radius: 8px;
}

.RevivesBox img
{
    width: 20%;
}

@media (max-width:1666px)
{
    .profilePageInner
    {
        height: 96.7vh;
    }
}

@media (max-width:1024px)
{
    .welcomePage h1
    {
        font-size: 3.3rem;
    }

    .welcomePage img
    {
        width: 60%;
    }
}

@media (max-width:768px)
{
    .welcomePage h1
    {
        font-size: 2.7rem;
    }
    .welcomePage img
    {
        width: 70%;
    }
}

@media (max-width:640px)
{
    .nav-bar
    {
        display: none;
    }
    .home
    {
        width: 100%;
        background-color: #ffff;
        height: 100vh;
        border-radius: 0px;
        box-shadow: none;
    }
    .header
    {
        display: block;
    }
    .profilePageInner
    {
        height: 90vh;
    }
}