body
{
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.DF5
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mainContainer
{
    width: 97%;
    height: 95vh;
    border: 1px solid green;
}