body
{
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.DF5
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mainContainer
{
    width: 97%;
    height: 95vh;
    display: flex;
    justify-content: space-between;
}

.box
{
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.DFlist
{
    width: 26%;
}

.DFMessages
{
    width: 45%;
}

.DFAdditional
{
    width: 26%;
}