body
{
    font-family: "Parkinsans", serif;
    font-optical-sizing: auto;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.main 
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.main h1
{
    margin: 0;
    padding: 0;
    font-size: 4rem;
}

.dialog-boxes
{
    display: flex;
    width: 80%;
    height: 80%;
    gap: 5rem;
    transition: all 0.3s;
}

.box
{
    width: 50%;
    height: 450px;
    border: 10px solid #fff;
    border-radius: 20px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.3);
    background-color: #f8f9fa;
    cursor: pointer;
    transition: all 0.3s;
}

.Sing-Up
{
    display: none;
}

h2{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(45deg, #ff7a18, #af2dff, #18d8ff);
    -webkit-background-clip: text;
    color: transparent;
}

form
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.3rem;
}

input
{
    width: 40vh;
    outline: none;
    border: 2px solid #8043d6;
    border-radius: 8px;
    font-size: 15px;
    padding: 10px;
}

.Sing-Up-btn
{
    border: none;
    font-size: large;
    color: #fff;
    padding: 12px;
    border-radius: 8px;
    background:linear-gradient(45deg, #17BEE3, #6D1EB7);
    cursor: pointer;
    transition: background-position 0.3s ease;
    transition: font-size 0.3s ease;
}

.Sing-Up-btn:hover
{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    background:linear-gradient(45deg, #6D1EB7, #17BEE3);
}

.box:hover
{
    border: 5px solid #5243d6;
}

.Sign-up-via
{
    display: flex;
    justify-content: space-around;
}

.via-box
{
    margin-top: 20px;
    width: 20vh;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.via-box:hover
{
    outline: none;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.icons
{
    width: 1.5rem;
}

.reload-button {
    position: relative; /* Position the button relative to the main div */
    top: 10px; /* Slightly outside the top border of the parent div */
    left: 10px; /* Slightly outside the left border of the parent div */
    /* Red button for visibility */
    background-color: #ee4848;
    border: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    cursor: pointer;
    line-height: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
    transition: all 0.2s;
}

.close-button:hover
{
    background-color: #cd2323;
}

@media (max-width:1024px)
{
    #h1
    {
        font-size: 5vh;
    }
    .box
    {
        height: 300px;
    }
}


@media (max-width:768px)
{
    .box
    {
        height: 260px;
    }
    
}