body
{
    padding: 0;
    margin: 0;
}

h1, h2
{
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
}

i
{
    font-size: 15px;
    width: 25px;
}

/* main header config */
.header
{
    display: flex;
    justify-content: space-between;
    padding: 3px 20px 3px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* first secion of header */
.h-sec-1
{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 15px;
}

/* affect for header p */
.h-sec-1 p
{
    padding: 10px 20px; 
    font-family: "Open Sans", sans-serif;
    font-size: small;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    transition: 0.3s;
}

/* hover affect for header p */
.h-sec-1 p:hover
{
    background-color: #f2f3f5; 
    border-radius: 5px;
    cursor: pointer;
}

/* second secion of header */
.h-sec-2
{
    gap:20px;
}
/* sign up/in buttons*/
.h-sec-2 .btn
{
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #6a0dad;
    color: white;
    border: none;
    cursor: pointer;
}

.h-sec-2-i
{
    font-size: 17px;
    padding: 13px 10px; 
    transition: 0.3s;
}

.h-sec-2-i:hover
{
    background-color: #f2f3f5; 
    border-radius: 5px;
    cursor: pointer;
}