body
{
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

h1, h2
{
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
}

i
{
    font-size: 15px;
    width: 25px;
}

/* main header config */
.header
{
    display: flex;
    justify-content: space-between;
    padding: 3px 20px 3px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* first secion of header */
.h-sec-1
{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 15px;
}

/* affect for header p */
.h-sec-1 p
{
    padding: 10px 20px; 
    font-family: "Open Sans", sans-serif;
    font-size: small;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    transition: 0.3s;
}

/* hover affect for header p */
.h-sec-1 p:hover
{
    background-color: #f2f3f5; 
    border-radius: 5px;
    cursor: pointer;
}

/* second secion of header */
.h-sec-2
{
    gap:20px;
}

/* sign up/in buttons*/
.h-sec-2 .btn
{
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 15px;
    transition: 0.3s;
}

/* Login button */
#Login-btn
{
    background-color: transparent;
    border: 1.5px solid #ced2d7;
}

#Login-btn:hover
{
    background-color: #f2f3f5;
}

.a-login
{
    color: #6D1EB7;
}

/* Sing up button */
#Signup-btn
{
    border: none;
    background:linear-gradient(45deg, #17BEE3, #6D1EB7);
    background-size: 200% 200%;
    transition: background-position 0.3s ease;
}
#Signup-btn:hover
{
    background-position: 100% 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.a-signUp
{
    color: #ffff;
    font-weight: 700;
}

/* header section 2 icons */
.h-sec-2-i
{
    font-size: 17px;
    padding: 12px 9px; 
    transition: 0.3s;
}

.h-sec-2-i:hover
{
    background-color: #f2f3f5; 
    border-radius: 5px;
    cursor: pointer;
}


#searchInput
{
    display: none;
    padding: 7px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    transition: width 0.3s ease;
    width: 150px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#searchInput:focus
{
    outline: none;
    border-color: #ccc;
}

#threeDot
{
    display: none;
    cursor: pointer;
}

#menu
{
    display: none;
    padding: 10px 10px;
}

#menu:hover
{
    background-color: #f2f3f5; 
    border-radius: 5px;
    cursor: pointer;
}

@media  (max-width:1102px)
{
    #threeDot
    {
        display: block;
    }
    #Learn-i
    {
        display: none;
    }
}

@media  (max-width:1034px)
{
    #plans-and-pricing
    {
        display: none;
    }
}

@media  (max-width:895px)
{
    #plans-and-pricing, #Business, #threeDot, #Learn-i
    {
        display: none;
    }
    #menu
    {
        display: block;
    }
}

@media (max-width:720px)
{
    #searchIcon
    {
        display: none;
    }

    .h-sec-2
    {
        gap: 10px;
    }
}
